{% extends 'base.html' %}

{% set no_messages = True %}

{% block content %}
<div class="row no-gutters m-0 min-vh-100">
    <div class="col-12 col-sm-12 col-md-2 bg-dark text-light">
        <ul class="list-unstyled pt-3">
            <li><h2>Dashboard</h2></li>
            <li>
                <hr>
            </li>
            <li>{{ current_user.email }}</li>
            <li>Your devices: {{ devices | length }}</li>
            <li>Online devices: {{ online_devices | length }}</li>
        </ul>
    </div>
    <div class="col-12 col-sm-12 col-md bg-light text-dark">
        {{ render_messages() }}
        <div class="p-2">
            <article class="pt-3">
                <h2>Your devices</h2>
                {% if devices %}
                <div class="overflow-auto">
                    <table class="table table-sm border rounded">
                        <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Amazon type</th>
                            <th scope="col">Google type</th>
                            <th scope="col">Traits</th>
                            <th scope="col">View</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for device in devices %}
                        <tr class="align-middle">
                            <td>{{ device.name }}</td>
                            <td class="align-middle">
                                {% if device.online %}
                                {% set color = 'success' %}
                                {% set status = 'online' %}
                                {% else %}
                                {% set color = 'danger' %}
                                {% set status = 'offline' %}
                                {% endif %}
                                <span class="badge rounded-pill bg-{{ color }}">
                                    {{ status }}
                                </span>
                            </td>
                            <td class="align-middle">{{ device.amazon_type | join(', ') }}</td>
                            <td class="align-middle">{{ device.google_type }}</td>
                            <td class="align-middle">{{ device.traits | length }}</td>
                            <td class="align-middle">
                                <a class="btn btn-sm btn-primary"
                                   href="{{ url_for('device_view', device_id=device.id) }}">
                                    View
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p>You does not have any device yet.</p>
                {% endif %}
                <p class="small">
                    <span class="text-danger">
                        After adding, editing or deleting device you need to relink PySmartHome in your assistants.
                    </span>
                    <span class="text-muted">
                        (Automatic device operations reporting is not supported yet.)
                    </span>
                </p>
                <center class="pt-2">
                    <button class="btn btn-sm btn-dark" onclick="location.reload();">Refresh</button>
                    <a class="btn btn-sm btn-success" href="{{ url_for('device_add') }}">Add device</a>
                </center>
            </article>
            <hr>
            <article class="pt-3">
                <h2>Setting and API</h2>
                <div class="row no-gutters">
                    <div class="col-12 col-md">
                        <h5>MQTT Broker</h5>
                        <ul class="list-unstyled">
                            <li>Host: <span class="badge bg-primary">{{ mqtt_host }}</span></li>
                            <li>Port: <span class="badge bg-primary">{{ mqtt_port }}</span></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md">
                        <h5>Api documentation</h5>
                        <p>API is still experimental. It may change during development.</p>
                        <a class="btn btn-sm btn-dark" target="_blank" href="{{ url_for('api_doc') }}">
                            Open API documentation
                        </a>
                    </div>
                </div>
            </article>
            <hr>
            <article class="pt-3">
                <h2>Device types help</h2>
                {% include 'device_types_hint.html' %}
            </article>
            <hr>
            <article class="pt-3">
                <h2>Device traits types help</h2>
                {% include 'trait_types_hint.html' %}
            </article>
        </div>
    </div>
</div>
{% endblock %}
