<div class="row no-gutters">
    <div class="col-12 col-md">
        <h5>Amazon device types</h5>
        <p>
            List of Amazon device types can be found
            <a target="_blank"
               href="https://developer.amazon.com/en-US/docs/alexa/device-apis/alexa-discovery.html">here</a>.
            For specifying multiple device types use ";" as separator.
            <br>
            <span class="small text-danger">
            If the device type is invalid, the device will not be displayed for the specified voice assistant.
        </span>
        </p>
    </div>
    <div class="col-12 col-md">
        <h5>Google device types</h5>
        <p>
            List of Google device types can be found
            <a target="_blank" href="https://developers.google.com/assistant/smarthome/guides">here</a>.
            Google device can have only one type. And the type must begin with "action.devices.types.".
            (For example "action.devices.types.LIGHT".)
            <br>
            <span class="small text-danger">
            If the device type is invalid, the device will not be displayed for the specified voice assistant.
            Some device types require specific device traits to be displayed.
        </span>
        </p>
    </div>
</div>