{% extends 'base.html' %}

{% if device.online %}
{% set color = 'success' %}
{% set status = 'online' %}
{% else %}
{% set color = 'danger' %}
{% set status = 'offline' %}
{% endif %}

{% block content %}
<div class="row no-gutters m-0 pt-5">
    <div class="col-12 col-md-10 offset-md-1">
        <h2>{{ device.name }}</h2>
        <hr>
        <p>{{ device.description }}</p>
        <ul>
            <li>Amazon type: {{ device.amazon_type | join(', ') }}</li>
            <li>Google type: {{ device.google_type }}</li>
            <li>Status: <span class="badge rounded-pill bg-{{ color }}">{{ status }}</span></li>
        </ul>
        <hr>
        {% if traits %}
        <div class="overflow-auto">
            <table class="table table-sm border rounded">
                <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">MQTT handler</th>
                    <th scope="col">Amazon handler</th>
                    <th scope="col">Google handler</th>
                    <th scope="col">Value</th>
                    <th scope="col">Updated</th>
                    <th scope="col">MQTT get topic</th>
                    <th scope="col">MQTT set topic</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for trait in traits %}
                <tr>
                    <td class="align-middle">
                        {% if trait.mqtt_handler %}
                        <a href="{{ url_for('handlers', handler_name=trait.mqtt_handler.name) }}">
                            {{ trait.mqtt_handler.name }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        {% if trait.amazon_handler %}
                        <a href="{{ url_for('handlers', handler_name=trait.amazon_handler.name) }}">
                            {{ trait.amazon_handler.name }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        {% if trait.google_handler %}
                        <a href="{{ url_for('handlers', handler_name=trait.google_handler.name) }}">
                            {{ trait.google_handler.name }}
                        </a>
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        {% if trait.mqtt_handler %}
                        {{ trait.mqtt_handler.trait_value_html() | safe }}
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ humanize.naturaltime(trait.updated_at) }}</td>
                    <td class="align-middle">{{ trait.mqtt_get }}</td>
                    <td class="align-middle">{{ trait.mqtt_set }}</td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-warning"
                           href="{{ url_for('trait_edit', device_id=device.id, trait_id=trait.id) }}">
                            Edit
                        </a>
                    </td>
                    <th class="align-middle">
                        <a class="btn btn-sm btn-danger"
                           href="{{ url_for('trait_delete', device_id=device.id, trait_id=trait.id) }}">
                            Delete
                        </a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>This device does not have any traits yet.</p>
        {% endif %}
        <center class="pt-2">
            <button class="btn btn-sm btn-dark" onclick="location.reload();">Refresh</button>
            <a class="btn btn-sm btn-success" href="{{ url_for('trait_add', device_id=device.id) }}">
                Add device trait
            </a>
            <a class="btn btn-sm btn-warning" href="{{ url_for('device_edit', device_id=device.id) }}">
                Edit device
            </a>
            <a class="btn btn-sm btn-danger" href="{{ url_for('device_delete', device_id=device.id) }}">
                Delete device
            </a>
        </center>
    </div>
</div>
{% endblock %}
