{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters m-0 mt-5">
    <div class="col-12 col-md-4 offset-md-4">
        <article class="p-2">
            <h1>{{ title }}</h1>
            {% if message %}
            <hr>
            <div>{{ message | safe }}</div>
            <hr>
            {% endif %}
            {{ render_form(form, button_style='dark', button_size='sm mt-2') }}
        </article>
    </div>
</div>
{% endblock %}
