{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters m-0 pt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <h2>{{ handler.name }}</h2>
        <p>
            {% for line in handler.get_description().splitlines(False) %}
            {% if line.strip() %}
            {{ line.strip() | safe }}<br>
            {% endif %}
            {% endfor %}
        </p>
        <hr>
        <ul class="list-unstyled">
            <li>
                Compatible with:
                {% if compatible %}
                <ul>
                    {% for compatible_handler in compatible %}
                    <li>
                        <a href="{{ url_for('handlers', handler_name=compatible_handler.name) }}">
                            {{ compatible_handler.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>This handler has no compatible handlers yet.</p>
                {% endif %}
            </li>
        </ul>

    </div>
</div>
{% endblock %}
