{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters m-0 pt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <h1>List of all handlers</h1>
        {% include 'trait_types_hint.html' %}
    </div>
</div>
{% endblock %}
