{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters m-0 mt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <article class="p-2">
            <h1>Welcome to PySmartHome!</h1>
            <p>Smart home project connecting MQTT, Amazon Alexa and Google Assistant together.</p>
            <p>
                Sources available at:
                <a href="https://bitbucket.org/tlasky/pysmarthome/src/master/">
                    https://bitbucket.org/tlasky/pysmarthome/src/master/
                </a>
            </p>
        </article>
    </div>
</div>
{% endblock %}
