{% extends 'base.html' %}

{% block content %}
<div class="row no-gutters m-0">
    <div class="col-12 col-md-8 offset-md-4">
        <article class="p-2">
            <h1>Terms of use</h1>
            <p>.....</p>
        </article>
        <article class="p-2">
            <h1>Privacy</h1>
            <p>.....</p>
        </article>
    </div>
</div>
{% endblock %}
