<div class="row no-gutters">
    <div class="col-12 col-md">
        <h5>MQTT handlers</h5>
        <ul class="list-unstyled">
            {% for handler in trait_controller.get_mqtt_handlers() %}
            <li>
                <a target="_blank" href="{{ url_for('handlers', handler_name=handler.name) }}">
                    {{ handler.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md">
        <h5>Amazon handlers</h5>
        <ul class="list-unstyled">
            {% for handler in trait_controller.get_amazon_handlers() %}
            <li>
                <a target="_blank" href="{{ url_for('handlers', handler_name=handler.name) }}">
                    {{ handler.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md">
        <h5>Google handlers</h5>
        <ul class="list-unstyled">
            {% for handler in trait_controller.get_google_handlers() %}
            <li>
                <a target="_blank" href="{{ url_for('handlers', handler_name=handler.name) }}">
                    {{ handler.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
